/*Necessário para aceitar caracteres especiais, como assentos. */
@charset "UTF-8";

/* Exemplo inline */
.inline {
  color: #fff;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.inline-item {
  display: inline;
}
.inline-item1 {
  background-color: chocolate;
}
.inline-item2 {
  background-color: darkgoldenrod;
}
.inline-item3 {
  background-color: darkolivegreen;
}

/* Exemplo block */
.block {
  color: #fff;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.block-item {
  display: block;
  width: 33.333%;
  height: 150px;
}
.block-item1 {
  background-color: chocolate;
}
.block-item2 {
  background-color: darkgoldenrod;
  margin-left: auto;
}
.block-item3 {
  background-color: darkolivegreen;
  margin: auto;
}

/* Exemplo inline-block */
.inlineblock {
  color: #fff;
  text-align: justify;
  background-color: black;
}
.inlineblock-item {
  display: inline-block;
  width: 25%;
  height: 150px;
}
.inlineblock-item1 {
  background-color: chocolate;
}
.inlineblock-item2 {
  background-color: darkgoldenrod;
}
.inlineblock-item3 {
  background-color: darkolivegreen;
}
.inlineblock::after /* opção :: adiciona um elemento no html via css */ {
  /* gambiarra para funcionar o text-align justify */
  content: "";
  display: inline-block;
  width: 100%;
}

/* Display Float */
.float {
  background-color: black;
  width: 200px;
  height: 200px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  opacity: 50%;
}
.float-item1 {
  background-color: blueviolet;
  float: left;
}
.float-item2 {
  background-color: brown;
  float: right;
}
article {
  background-color: black;
  overflow: hidden; /* faz com que o article volte para o layer padrão */
}
.float-paragrafo {
  color: #fff;
  background-color: rgb(0, 0, 0);
  clear: both;
}

/* Position Relative e Static */
.elementoRel {
  background-color: black;
  width: 200px;
  height: 200px;
  line-height: 200px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.elementoRel1 {
  background-color: blueviolet;
  position: relative;
}
.elementoRel2 {
  background-color: brown;
  position: relative;
  bottom: 180px;
  left: 10px;
}
.elementoRel_isActive {
  z-index: 1;
}

/* Posotion absolute */
.absolut {
  width: 200px;
  height: 200px;
  line-height: 200px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.elementoAbsolut1 {
  background-color: chocolate;
  position: absolute;
  right: 0px;
}
.elementoAbsolut2 {
  background-color: darkgoldenrod;
  position: absolute;
  left: 50%; /*metade da largura da tela*/
  transform: translateX(-50%); /*metade da largura do elemento*/
}
.elementoAbsolut3 {
  position: relative; /*o pai precisa estar diferente de static*/
  background-color: darkolivegreen;
}
.elementoInterno {
  background-color: cornflowerblue;
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /*metade da largura e altura do elemento*/
}

.header {
  background-color: rgb(0, 0, 56);
  position: fixed;
  top: 0px;
  width: 100%;
}

.fixh1 {
  color: crimson;
  padding: 20px 40px;
  text-align: center;
}

.voltar {
  position: fixed;
  bottom: 0px;
  color: #fff;
  background-color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}

body {
  padding-top: 120px;
  padding-bottom: 80px;
}
